{
  "openapi": "3.1.0",
  "info": {
    "title": "rial API",
    "version": "0.1.0",
    "description": "Prove a photo is real. Base URL: https://api.rial.io",
    "contact": {
      "name": "rial-platform team",
      "url": "https://github.com/Rial-ventures-Inc/rial-platform"
    },
    "license": {
      "name": "UNLICENSED — proprietary, internal use only"
    }
  },
  "servers": [
    {
      "url": "https://api.rial.io",
      "description": "Production"
    }
  ],
  "tags": [
    {
      "name": "Verifications",
      "description": "Create, fetch, list, and finalize verifications. The core of the API — every tenant integration starts here."
    },
    {
      "name": "Captures",
      "description": "Upload media against an existing verification. Two-stage flow: mint a presigned S3 URL → PUT bytes direct to S3 → POST submit-capture with the resulting key. Hardware attestation (Cloudflare Turnstile / Apple PAT) is verified per-capture."
    },
    {
      "name": "Public Trial",
      "description": "Unauthenticated trial endpoint behind `rial.io/trial`. Each call mints a fresh verification under the rial. tenant tagged `originChannel=\"wa\"`, so the WA-completion worker delivers the verdict to the configured trial number."
    },
    {
      "name": "Templates",
      "description": "Publish, update, revoke and inspect link templates — the reusable capture links behind `/l/{token}` (a compact JWT carrying the org and template slugs; the legacy `/l/{org}/{slug}` keeps resolving). Callable with a secret key; each publish snapshots a versioned capture spec (GET-83)."
    },
    {
      "name": "Databases",
      "description": "Create, update, inspect and synchronize tenant-scoped databases used by reusable verification templates. Callable with a dashboard session or secret API key."
    }
  ],
  "components": {
    "securitySchemes": {
      "cookieSession": {
        "type": "apiKey",
        "in": "cookie",
        "name": "rial_session",
        "description": "Dashboard / operator session cookie. Set by `/v1/auth/google/callback` after Google OAuth, JWT signed with the rotating `rial-platform/session-signing` HMAC. Read on every request the SPA makes with `credentials: include`. Browser-only — server-to-server callers use `bearerApiKey` instead."
      },
      "bearerApiKey": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "pk_live_<ulid>",
        "description": "Tenant-scoped API key (`pk_live_<ulid>`). Minted by a rial operator via the admin API; stored as SHA-256 hash, plaintext returns once at mint time. Use `Authorization: Bearer pk_live_<…>`. The presented key is hashed and looked up via the `gsi-by-key-hash` GSI on `rial-platform-tenants` — a hash miss returns 401 without timing channel."
      },
      "captureToken": {
        "type": "apiKey",
        "in": "query",
        "name": "token",
        "description": "Possession of the verification id in the URL path (`/v1/verifications/:token/...`) authenticates the SPA capture flow. No header — the id is the credential. ULIDs are large enough that existence-by-id is not a meaningful leak. Used for `POST /captures/upload-url`, `POST /captures`, `GET /v1/verify/:token`."
      },
      "botHmac": {
        "type": "apiKey",
        "in": "header",
        "name": "X-Bot-Auth",
        "description": "HMAC signature from the rialclaw WhatsApp bot. Signs `<timestamp>.<body>` with one of the secrets in `rial-platform/<stage>/bot-hmac` (comma-separated for rotation overlap). Required header pair: `X-Bot-Auth: <hex-hmac>` + `X-Bot-Auth-Timestamp: <unix-ms>`. Tenant id is carried in the request body, not in the credential."
      }
    },
    "schemas": {
      "Verification": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "pattern": "^vfy_[0-9A-HJKMNP-TV-Z]{26}$"
          },
          "status": {
            "type": "string",
            "enum": [
              "pending",
              "partially_captured",
              "completed",
              "expired",
              "failed",
              "abandoned"
            ],
            "description": "Lifecycle state. `pending` → first capture flips to `partially_captured` → analysis sets the verdict and transitions to `completed`. Terminal: `completed`, `expired`, `failed`. `abandoned` is a side-branch off `pending`/`partially_captured`, reported by the capture screen via `POST /v1/verifications/:token/progress` when the end user leaves before finishing — NOT terminal: a later capture resurrects the row to `partially_captured` like any other."
          },
          "capture_url": {
            "type": "string",
            "format": "uri"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "expires_at": {
            "type": "string",
            "format": "date-time"
          },
          "captures_count": {
            "type": "integer",
            "minimum": 0
          },
          "config": {
            "type": "object",
            "properties": {
              "max_captures": {
                "type": "integer",
                "minimum": 1,
                "maximum": 20,
                "description": "Derived total capacity (sum of steps[].max). `steps` is the authoritative spec."
              },
              "steps": {
                "type": "array",
                "items": {
                  "anyOf": [
                    {
                      "type": "object",
                      "properties": {
                        "label": {
                          "type": "string",
                          "minLength": 1,
                          "maxLength": 200
                        },
                        "screen": {
                          "type": "object",
                          "properties": {
                            "key": {
                              "type": "string",
                              "minLength": 1,
                              "maxLength": 64,
                              "pattern": "^[a-z0-9][a-z0-9_-]*$"
                            },
                            "title": {
                              "type": "string",
                              "minLength": 1,
                              "maxLength": 120
                            },
                            "description": {
                              "type": "string",
                              "maxLength": 8000
                            }
                          },
                          "required": [
                            "key",
                            "title"
                          ],
                          "additionalProperties": false
                        },
                        "when": {
                          "type": "object",
                          "properties": {
                            "key": {
                              "type": "string",
                              "minLength": 1,
                              "maxLength": 64,
                              "pattern": "^[a-z0-9][a-z0-9_-]*$"
                            },
                            "value": {
                              "type": "string",
                              "minLength": 1,
                              "maxLength": 64,
                              "pattern": "^[a-z0-9][a-z0-9_-]*$"
                            }
                          },
                          "required": [
                            "key",
                            "value"
                          ],
                          "additionalProperties": false
                        },
                        "key": {
                          "type": "string",
                          "minLength": 1,
                          "maxLength": 64,
                          "pattern": "^[a-z0-9][a-z0-9_-]*$"
                        },
                        "type": {
                          "type": "string",
                          "enum": [
                            "choice"
                          ]
                        },
                        "description": {
                          "type": "string",
                          "maxLength": 500,
                          "default": ""
                        },
                        "required": {
                          "type": "boolean",
                          "default": true
                        },
                        "multiple": {
                          "type": "boolean",
                          "default": false
                        },
                        "options": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "key": {
                                "type": "string",
                                "minLength": 1,
                                "maxLength": 64,
                                "pattern": "^[a-z0-9][a-z0-9_-]*$"
                              },
                              "label": {
                                "type": "string",
                                "minLength": 1,
                                "maxLength": 500
                              }
                            },
                            "required": [
                              "key",
                              "label"
                            ],
                            "additionalProperties": false
                          },
                          "minItems": 1,
                          "maxItems": 50
                        }
                      },
                      "required": [
                        "key",
                        "type",
                        "options"
                      ],
                      "additionalProperties": false
                    },
                    {
                      "type": "object",
                      "properties": {
                        "label": {
                          "type": "string",
                          "minLength": 1,
                          "maxLength": 200
                        },
                        "screen": {
                          "type": "object",
                          "properties": {
                            "key": {
                              "type": "string",
                              "minLength": 1,
                              "maxLength": 64,
                              "pattern": "^[a-z0-9][a-z0-9_-]*$"
                            },
                            "title": {
                              "type": "string",
                              "minLength": 1,
                              "maxLength": 120
                            },
                            "description": {
                              "type": "string",
                              "maxLength": 8000
                            }
                          },
                          "required": [
                            "key",
                            "title"
                          ],
                          "additionalProperties": false
                        },
                        "when": {
                          "type": "object",
                          "properties": {
                            "key": {
                              "type": "string",
                              "minLength": 1,
                              "maxLength": 64,
                              "pattern": "^[a-z0-9][a-z0-9_-]*$"
                            },
                            "value": {
                              "type": "string",
                              "minLength": 1,
                              "maxLength": 64,
                              "pattern": "^[a-z0-9][a-z0-9_-]*$"
                            }
                          },
                          "required": [
                            "key",
                            "value"
                          ],
                          "additionalProperties": false
                        },
                        "key": {
                          "type": "string",
                          "minLength": 1,
                          "maxLength": 64,
                          "pattern": "^[a-z0-9][a-z0-9_-]*$"
                        },
                        "type": {
                          "type": "string",
                          "enum": [
                            "address"
                          ]
                        },
                        "country": {
                          "type": "string",
                          "enum": [
                            "BR"
                          ]
                        },
                        "description": {
                          "type": "string",
                          "maxLength": 500,
                          "default": ""
                        },
                        "required": {
                          "type": "boolean",
                          "default": true
                        }
                      },
                      "required": [
                        "key",
                        "type"
                      ],
                      "additionalProperties": false
                    },
                    {
                      "type": "object",
                      "properties": {
                        "label": {
                          "type": "string",
                          "minLength": 1,
                          "maxLength": 200
                        },
                        "screen": {
                          "type": "object",
                          "properties": {
                            "key": {
                              "type": "string",
                              "minLength": 1,
                              "maxLength": 64,
                              "pattern": "^[a-z0-9][a-z0-9_-]*$"
                            },
                            "title": {
                              "type": "string",
                              "minLength": 1,
                              "maxLength": 120
                            },
                            "description": {
                              "type": "string",
                              "maxLength": 8000
                            }
                          },
                          "required": [
                            "key",
                            "title"
                          ],
                          "additionalProperties": false
                        },
                        "when": {
                          "type": "object",
                          "properties": {
                            "key": {
                              "type": "string",
                              "minLength": 1,
                              "maxLength": 64,
                              "pattern": "^[a-z0-9][a-z0-9_-]*$"
                            },
                            "value": {
                              "type": "string",
                              "minLength": 1,
                              "maxLength": 64,
                              "pattern": "^[a-z0-9][a-z0-9_-]*$"
                            }
                          },
                          "required": [
                            "key",
                            "value"
                          ],
                          "additionalProperties": false
                        },
                        "key": {
                          "type": "string",
                          "minLength": 1,
                          "maxLength": 64
                        },
                        "type": {
                          "type": "string",
                          "enum": [
                            "image"
                          ]
                        },
                        "description": {
                          "type": "string",
                          "maxLength": 500
                        },
                        "min": {
                          "type": "integer",
                          "minimum": 0
                        },
                        "max": {
                          "type": "integer",
                          "minimum": 1
                        },
                        "allow_upload": {
                          "type": "boolean",
                          "enum": [
                            true
                          ]
                        },
                        "accept": {
                          "type": "array",
                          "items": {
                            "type": "string",
                            "enum": [
                              "image/jpeg",
                              "image/png",
                              "image/webp",
                              "image/heic",
                              "image/heif"
                            ]
                          }
                        },
                        "max_size_bytes": {
                          "type": "integer",
                          "minimum": 1,
                          "maximum": 26214400
                        },
                        "expected_object": {
                          "type": "string",
                          "minLength": 1,
                          "maxLength": 200
                        },
                        "condition_aspects": {
                          "type": "array",
                          "items": {
                            "type": "string",
                            "minLength": 1,
                            "maxLength": 40
                          },
                          "minItems": 1,
                          "maxItems": 6
                        }
                      },
                      "required": [
                        "key",
                        "type",
                        "description",
                        "min",
                        "max"
                      ]
                    },
                    {
                      "type": "object",
                      "properties": {
                        "label": {
                          "type": "string",
                          "minLength": 1,
                          "maxLength": 200
                        },
                        "screen": {
                          "type": "object",
                          "properties": {
                            "key": {
                              "type": "string",
                              "minLength": 1,
                              "maxLength": 64,
                              "pattern": "^[a-z0-9][a-z0-9_-]*$"
                            },
                            "title": {
                              "type": "string",
                              "minLength": 1,
                              "maxLength": 120
                            },
                            "description": {
                              "type": "string",
                              "maxLength": 8000
                            }
                          },
                          "required": [
                            "key",
                            "title"
                          ],
                          "additionalProperties": false
                        },
                        "when": {
                          "type": "object",
                          "properties": {
                            "key": {
                              "type": "string",
                              "minLength": 1,
                              "maxLength": 64,
                              "pattern": "^[a-z0-9][a-z0-9_-]*$"
                            },
                            "value": {
                              "type": "string",
                              "minLength": 1,
                              "maxLength": 64,
                              "pattern": "^[a-z0-9][a-z0-9_-]*$"
                            }
                          },
                          "required": [
                            "key",
                            "value"
                          ],
                          "additionalProperties": false
                        },
                        "key": {
                          "type": "string",
                          "minLength": 1,
                          "maxLength": 64
                        },
                        "type": {
                          "type": "string",
                          "enum": [
                            "text"
                          ]
                        },
                        "description": {
                          "type": "string",
                          "maxLength": 500
                        },
                        "required": {
                          "type": "boolean"
                        },
                        "validation": {
                          "type": "object",
                          "properties": {
                            "min_length": {
                              "type": "integer",
                              "minimum": 0
                            },
                            "max_length": {
                              "type": "integer",
                              "minimum": 1,
                              "maximum": 2000
                            },
                            "format": {
                              "type": "string",
                              "enum": [
                                "free_text",
                                "numeric_id",
                                "alphanumeric_id",
                                "email"
                              ]
                            }
                          },
                          "required": [
                            "max_length",
                            "format"
                          ]
                        },
                        "variant": {
                          "type": "string",
                          "enum": [
                            "short",
                            "long"
                          ]
                        }
                      },
                      "required": [
                        "key",
                        "type",
                        "description",
                        "required",
                        "validation"
                      ]
                    },
                    {
                      "type": "object",
                      "properties": {
                        "label": {
                          "type": "string",
                          "minLength": 1,
                          "maxLength": 200
                        },
                        "screen": {
                          "type": "object",
                          "properties": {
                            "key": {
                              "type": "string",
                              "minLength": 1,
                              "maxLength": 64,
                              "pattern": "^[a-z0-9][a-z0-9_-]*$"
                            },
                            "title": {
                              "type": "string",
                              "minLength": 1,
                              "maxLength": 120
                            },
                            "description": {
                              "type": "string",
                              "maxLength": 8000
                            }
                          },
                          "required": [
                            "key",
                            "title"
                          ],
                          "additionalProperties": false
                        },
                        "when": {
                          "type": "object",
                          "properties": {
                            "key": {
                              "type": "string",
                              "minLength": 1,
                              "maxLength": 64,
                              "pattern": "^[a-z0-9][a-z0-9_-]*$"
                            },
                            "value": {
                              "type": "string",
                              "minLength": 1,
                              "maxLength": 64,
                              "pattern": "^[a-z0-9][a-z0-9_-]*$"
                            }
                          },
                          "required": [
                            "key",
                            "value"
                          ],
                          "additionalProperties": false
                        },
                        "key": {
                          "type": "string",
                          "minLength": 1,
                          "maxLength": 64
                        },
                        "type": {
                          "type": "string",
                          "enum": [
                            "upload"
                          ]
                        },
                        "input": {
                          "type": "string",
                          "enum": [
                            "signature"
                          ]
                        },
                        "description": {
                          "type": "string",
                          "maxLength": 500
                        },
                        "min": {
                          "type": "integer",
                          "minimum": 0
                        },
                        "max": {
                          "type": "integer",
                          "minimum": 1
                        },
                        "accept": {
                          "type": "array",
                          "items": {
                            "type": "string",
                            "enum": [
                              "image/jpeg",
                              "image/png",
                              "image/webp",
                              "image/heic",
                              "image/heif"
                            ]
                          }
                        },
                        "max_size_bytes": {
                          "type": "integer",
                          "minimum": 1,
                          "maximum": 26214400
                        }
                      },
                      "required": [
                        "key",
                        "type",
                        "description",
                        "min",
                        "max",
                        "accept",
                        "max_size_bytes"
                      ]
                    },
                    {
                      "type": "object",
                      "properties": {
                        "label": {
                          "type": "string",
                          "minLength": 1,
                          "maxLength": 200
                        },
                        "screen": {
                          "type": "object",
                          "properties": {
                            "key": {
                              "type": "string",
                              "minLength": 1,
                              "maxLength": 64,
                              "pattern": "^[a-z0-9][a-z0-9_-]*$"
                            },
                            "title": {
                              "type": "string",
                              "minLength": 1,
                              "maxLength": 120
                            },
                            "description": {
                              "type": "string",
                              "maxLength": 8000
                            }
                          },
                          "required": [
                            "key",
                            "title"
                          ],
                          "additionalProperties": false
                        },
                        "when": {
                          "type": "object",
                          "properties": {
                            "key": {
                              "type": "string",
                              "minLength": 1,
                              "maxLength": 64,
                              "pattern": "^[a-z0-9][a-z0-9_-]*$"
                            },
                            "value": {
                              "type": "string",
                              "minLength": 1,
                              "maxLength": 64,
                              "pattern": "^[a-z0-9][a-z0-9_-]*$"
                            }
                          },
                          "required": [
                            "key",
                            "value"
                          ],
                          "additionalProperties": false
                        },
                        "key": {
                          "type": "string",
                          "minLength": 1,
                          "maxLength": 64
                        },
                        "type": {
                          "type": "string",
                          "enum": [
                            "video"
                          ]
                        },
                        "description": {
                          "type": "string",
                          "maxLength": 500
                        },
                        "min": {
                          "type": "integer",
                          "minimum": 0
                        },
                        "max": {
                          "type": "integer",
                          "minimum": 1
                        },
                        "max_duration_sec": {
                          "type": "integer",
                          "minimum": 1,
                          "maximum": 30
                        }
                      },
                      "required": [
                        "key",
                        "type",
                        "description",
                        "min",
                        "max",
                        "max_duration_sec"
                      ]
                    }
                  ],
                  "description": "One slot of the capture spec — a discriminated union on `type`. IMAGE slots: `key` is the stable slot id echoed back as `step_key` on every capture; `description` is the instruction shown to the person capturing; `min`/`max` bound how many captures the slot takes (`min: 0` = optional slot). `expected_object` optionally scopes the object check to that slot (operator responses only). `allow_upload: true` adds a file-upload fallback to the same image step; its optional `accept` and `max_size_bytes` use the upload defaults (all supported images and 10 MB, hard cap 25 MB). TEXT slots are declared form fields answered on the capture page: `required` gates completion, `validation` is declarative and bounded (length bounds + an enumerated format — `numeric_id` digits only, `alphanumeric_id` letters/digits/hyphens, `email` a valid address up to 254 characters; no arbitrary regex). UPLOAD slots are filled with preexisting content the client uploads instead of capturing live. VIDEO slots are live clips recorded in the moment through the capture page; `max_duration_sec` defaults to 30 and is hard-capped at 30."
                }
              },
              "signals_required": {
                "type": "array",
                "items": {
                  "type": "string",
                  "enum": [
                    "screen",
                    "ai",
                    "reverse",
                    "context",
                    "depth"
                  ],
                  "description": "A fraud-signal the tenant requires for the verification to count as complete."
                }
              },
              "mode": {
                "type": "string",
                "enum": [
                  "verification",
                  "audit"
                ],
                "description": "Echo of the `mode` the verification was created with. `audit` marks a run whose evidence is preexisting content pushed via API rather than captured live by a device — `steps` cannot stand in for it, since an audited file fills an ordinary `image` slot. Absent when the mint did not set it."
              },
              "context": {
                "type": "object",
                "properties": {
                  "kind": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 64
                  },
                  "summary": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 500
                  },
                  "attributes": {
                    "type": "object",
                    "additionalProperties": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "number"
                        },
                        {
                          "type": "boolean"
                        }
                      ]
                    }
                  }
                },
                "required": [
                  "kind",
                  "summary"
                ],
                "description": "Free-form context the tenant attaches at issue time. The analysis pipeline cross-references this against what is observed in the capture (the `context_match` signal). Shape is identical to the aiornot-proxy `/reports/cross-check` `context` field — reuse, not translation."
              },
              "webhook_url": {
                "type": "string",
                "format": "uri"
              },
              "notify_email": {
                "type": "string",
                "format": "email"
              },
              "completion_message": {
                "type": "string",
                "minLength": 1,
                "maxLength": 2000,
                "description": "Full plain-text message shown after submitting content. HTML, markdown and variables are not interpreted. Omit on create or send null on PATCH to use the default."
              },
              "metadata": {
                "type": "object",
                "additionalProperties": {
                  "type": "string"
                }
              },
              "expected_location": {
                "type": "string",
                "description": "Address the captures are expected to happen at; activates presence verification (`location_match`)."
              },
              "location_required": {
                "type": "boolean",
                "enum": [
                  true
                ],
                "description": "Location is mandatory without a compare target: the run’s first capture must carry a fix or the capture endpoint rejects it (422 `location_required`). Set via `requires_location` at create time or by the minting link template. Never present alongside `expected_location`, which implies the demand on its own."
              },
              "expected_object": {
                "type": "string",
                "description": "Free-text description of the object the content must show; activates the object check (`object_match`)."
              },
              "condition_aspects": {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "description": "Free-form tenant-defined aspect names the condition check scores — any language, any domain, no fixed vocabulary (1..6 items, each non-empty and ≤40 chars); activates `condition`."
              }
            },
            "required": [
              "max_captures",
              "steps",
              "signals_required"
            ],
            "description": "Tenant-supplied configuration baked into the token at issue time. Immutable after creation — changing config means issuing a new verification. `steps` is the normalized capture spec: requests that sent `max_captures: N` read back as a single anonymous step `{ key: \"capture_1\", min: N, max: N }`."
          },
          "answers": {
            "type": "object",
            "additionalProperties": {
              "type": "object",
              "properties": {
                "values": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "address": {
                  "type": "object",
                  "properties": {
                    "street": {
                      "type": "string",
                      "minLength": 1,
                      "maxLength": 200
                    },
                    "number": {
                      "type": "string",
                      "minLength": 1,
                      "maxLength": 200
                    },
                    "neighborhood": {
                      "type": "string",
                      "minLength": 1,
                      "maxLength": 200
                    },
                    "complement": {
                      "type": "string",
                      "maxLength": 200
                    },
                    "city": {
                      "type": "string",
                      "minLength": 1,
                      "maxLength": 200
                    },
                    "region": {
                      "type": "string",
                      "minLength": 1,
                      "maxLength": 200
                    },
                    "postal_code": {
                      "type": "string",
                      "maxLength": 200
                    }
                  },
                  "required": [
                    "street",
                    "number",
                    "neighborhood",
                    "city",
                    "region",
                    "postal_code"
                  ],
                  "additionalProperties": false
                },
                "value": {
                  "type": "string",
                  "maxLength": 2000
                },
                "answered_at": {
                  "type": "string",
                  "format": "date-time"
                }
              },
              "required": [
                "value",
                "answered_at"
              ],
              "description": "One answered text step. `value` is USER-DECLARED — typed by the person capturing; unlike live-captured content, it is never sensor-attested. Potential PII: it rides the operator/developer contracts and the webhook only, never OG cards or third-party public surfaces."
            }
          },
          "record_seal": {
            "anyOf": [
              {
                "type": "object",
                "properties": {
                  "algorithm": {
                    "type": "string",
                    "enum": [
                      "sha256"
                    ]
                  },
                  "hash": {
                    "type": "string",
                    "minLength": 64,
                    "maxLength": 64
                  },
                  "covers": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "enum": [
                        "record",
                        "answers"
                      ]
                    }
                  },
                  "answers_provenance": {
                    "type": "string",
                    "enum": [
                      "user_declared"
                    ]
                  }
                },
                "required": [
                  "algorithm",
                  "hash",
                  "covers",
                  "answers_provenance"
                ]
              },
              {
                "type": "object",
                "properties": {
                  "algorithm": {
                    "type": "string",
                    "enum": [
                      "sha3-512"
                    ]
                  },
                  "hash": {
                    "type": "string",
                    "minLength": 128,
                    "maxLength": 128
                  },
                  "covers": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "enum": [
                        "record",
                        "answers"
                      ]
                    }
                  },
                  "answers_provenance": {
                    "type": "string",
                    "enum": [
                      "user_declared"
                    ]
                  }
                },
                "required": [
                  "algorithm",
                  "hash",
                  "covers",
                  "answers_provenance"
                ]
              }
            ],
            "description": "Integrity seal over the verification record including `answers`. Present only when answers exist and sealing is on (`seal !== false`). The hash proves the stored answers have not changed — it does NOT claim they are true or sensor-attested; `answers_provenance` carries that distinction explicitly."
          },
          "verdict": {
            "type": "object",
            "properties": {
              "label": {
                "type": "string",
                "enum": [
                  "verified",
                  "suspicious",
                  "failed"
                ]
              },
              "score": {
                "type": "number",
                "minimum": 0,
                "maximum": 1
              },
              "signals": {
                "type": "object",
                "properties": {
                  "screen_detection": {
                    "anyOf": [
                      {
                        "type": "object",
                        "properties": {
                          "screen_detected": {
                            "type": "boolean"
                          },
                          "confidence": {
                            "type": "number",
                            "minimum": 0,
                            "maximum": 1
                          }
                        },
                        "required": [
                          "screen_detected",
                          "confidence"
                        ]
                      },
                      {
                        "type": "object",
                        "properties": {
                          "status": {
                            "type": "string",
                            "enum": [
                              "not_applicable"
                            ]
                          },
                          "reason": {
                            "type": "string",
                            "enum": [
                              "uploaded_content"
                            ]
                          }
                        },
                        "required": [
                          "status",
                          "reason"
                        ]
                      }
                    ]
                  },
                  "ai_detection": {
                    "anyOf": [
                      {
                        "type": "object",
                        "properties": {
                          "label": {
                            "type": "string",
                            "enum": [
                              "likely_human",
                              "likely_ai",
                              "unknown"
                            ]
                          },
                          "confidence": {
                            "type": "number",
                            "minimum": 0,
                            "maximum": 1
                          }
                        },
                        "required": [
                          "label",
                          "confidence"
                        ]
                      },
                      {
                        "type": "object",
                        "properties": {
                          "status": {
                            "type": "string",
                            "enum": [
                              "not_applicable"
                            ]
                          },
                          "reason": {
                            "type": "string",
                            "enum": [
                              "uploaded_content"
                            ]
                          }
                        },
                        "required": [
                          "status",
                          "reason"
                        ]
                      }
                    ]
                  },
                  "reverse_search": {
                    "anyOf": [
                      {
                        "type": "object",
                        "properties": {
                          "found_online": {
                            "type": "boolean"
                          },
                          "match_count": {
                            "type": "integer",
                            "minimum": 0
                          }
                        },
                        "required": [
                          "found_online",
                          "match_count"
                        ]
                      },
                      {
                        "type": "object",
                        "properties": {
                          "status": {
                            "type": "string",
                            "enum": [
                              "not_applicable"
                            ]
                          },
                          "reason": {
                            "type": "string",
                            "enum": [
                              "uploaded_content"
                            ]
                          }
                        },
                        "required": [
                          "status",
                          "reason"
                        ]
                      }
                    ]
                  },
                  "depth": {
                    "anyOf": [
                      {
                        "type": "object",
                        "properties": {
                          "source": {
                            "type": "string"
                          },
                          "confidence": {
                            "type": "number",
                            "minimum": 0,
                            "maximum": 1
                          }
                        },
                        "required": [
                          "source",
                          "confidence"
                        ]
                      },
                      {
                        "type": "object",
                        "properties": {
                          "status": {
                            "type": "string",
                            "enum": [
                              "not_applicable"
                            ]
                          },
                          "reason": {
                            "type": "string",
                            "enum": [
                              "uploaded_content"
                            ]
                          }
                        },
                        "required": [
                          "status",
                          "reason"
                        ]
                      }
                    ]
                  },
                  "provenance": {
                    "anyOf": [
                      {
                        "type": "object",
                        "properties": {
                          "declared_ai": {
                            "type": "boolean",
                            "enum": [
                              true
                            ]
                          },
                          "source": {
                            "type": "string",
                            "enum": [
                              "openai",
                              "google",
                              "c2pa_signed",
                              "iptc_trained_algorithmic_media",
                              "generator_metadata"
                            ]
                          },
                          "detail": {
                            "type": "string"
                          },
                          "generator": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "declared_ai",
                          "source",
                          "detail"
                        ]
                      },
                      {
                        "type": "object",
                        "properties": {
                          "status": {
                            "type": "string",
                            "enum": [
                              "not_applicable"
                            ]
                          },
                          "reason": {
                            "type": "string",
                            "enum": [
                              "uploaded_content"
                            ]
                          }
                        },
                        "required": [
                          "status",
                          "reason"
                        ]
                      }
                    ]
                  }
                },
                "description": "Per-signal evidence behind the verdict. Each signal is either its evaluated shape, or `{ status: \"not_applicable\", reason: \"uploaded_content\" }` when the slot was never evaluated because the underlying content was uploaded rather than captured live — never rendered as a failure."
              },
              "reason_code": {
                "type": "string",
                "enum": [
                  "screen_detected",
                  "ai_generated",
                  "context_mismatch",
                  "reverse_search_match",
                  "depth_anomaly"
                ],
                "description": "Which signal drove a non-`verified` label, in priority order (screen > AI > context > reverse search > depth) when more than one tripped. Absent on `verified` verdicts."
              }
            },
            "required": [
              "label",
              "score",
              "signals"
            ],
            "description": "Aggregate verdict produced by the per-capture analysis pipeline. `label` is the human-readable bucket; `score` is the confidence in the verdict."
          },
          "narrative": {
            "type": "string",
            "maxLength": 2000
          },
          "object_match": {
            "type": "object",
            "properties": {
              "status": {
                "type": "string",
                "enum": [
                  "match",
                  "mismatch",
                  "inconclusive"
                ]
              },
              "expected_object": {
                "type": "string"
              }
            },
            "required": [
              "status"
            ],
            "description": "Object-check result. Present when an object check was requested globally or on an image step. With step-only configuration the status is the worst step result and expected_object is omitted. Independent of the fraud verdict."
          },
          "object_matches": {
            "type": "object",
            "additionalProperties": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "enum": [
                    "match",
                    "mismatch",
                    "inconclusive"
                  ]
                },
                "expected_object": {
                  "type": "string"
                }
              },
              "required": [
                "status",
                "expected_object"
              ],
              "description": "Object-check result for one image step, including its expected object."
            },
            "description": "Object-check results keyed by image step. Missing capture verdicts yield inconclusive; otherwise each value is the worst context result for the step, ignoring not_applicable when live evidence exists."
          },
          "condition": {
            "type": "object",
            "properties": {
              "score": {
                "type": "number",
                "minimum": 0,
                "maximum": 10
              },
              "label": {
                "type": "string",
                "enum": [
                  "good",
                  "fair",
                  "poor"
                ]
              },
              "aspects": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "type": "string"
                    },
                    "score": {
                      "type": "number",
                      "minimum": 0,
                      "maximum": 10
                    },
                    "reasoning": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "name",
                    "score",
                    "reasoning"
                  ],
                  "description": "One scored aspect of the condition assessment. `name` echoes the free-form tenant-defined aspect from `condition_aspects` verbatim — any language, any domain, no fixed vocabulary. `score` is 0..10 with one decimal; `reasoning` is a one-or-two-sentence visual justification."
                }
              },
              "steps": {
                "type": "object",
                "additionalProperties": {
                  "type": "object",
                  "properties": {
                    "score": {
                      "type": "number",
                      "minimum": 0,
                      "maximum": 10
                    },
                    "label": {
                      "type": "string",
                      "enum": [
                        "good",
                        "fair",
                        "poor"
                      ]
                    },
                    "aspects": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string"
                          },
                          "score": {
                            "type": "number",
                            "minimum": 0,
                            "maximum": 10
                          },
                          "reasoning": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "name",
                          "score",
                          "reasoning"
                        ],
                        "description": "One scored aspect of the condition assessment. `name` echoes the free-form tenant-defined aspect from `condition_aspects` verbatim — any language, any domain, no fixed vocabulary. `score` is 0..10 with one decimal; `reasoning` is a one-or-two-sentence visual justification."
                      }
                    }
                  },
                  "required": [
                    "score",
                    "label",
                    "aspects"
                  ],
                  "description": "Condition assessment. Present only when the verification was created with `condition_aspects` — the free-form tenant-defined aspect names (any language, any domain). `score` is the one-decimal average of aspect scores; `label` buckets it (>=7.5 good, >=5 fair, else poor). Independent of the fraud verdict."
                },
                "description": "Condition results keyed by photo step. Each uses only that step’s photos and its rubric, falling back to the shared rubric. The aggregate averages all assessed aspect scores."
              }
            },
            "required": [
              "score",
              "label",
              "aspects"
            ],
            "description": "Condition assessment. Present only when the verification was created with `condition_aspects` — the free-form tenant-defined aspect names (any language, any domain). `score` is the one-decimal average of aspect scores; `label` buckets it (>=7.5 good, >=5 fair, else poor). Independent of the fraud verdict."
          },
          "video_analysis": {
            "type": "object",
            "properties": {
              "capture_id": {
                "type": "string"
              },
              "frames_extracted": {
                "type": "integer",
                "minimum": 0
              },
              "frames_analyzed": {
                "type": "integer",
                "minimum": 0
              },
              "screen": {
                "type": "object",
                "properties": {
                  "screen_detected": {
                    "type": "boolean"
                  },
                  "confidence": {
                    "type": "number",
                    "minimum": 0,
                    "maximum": 1
                  },
                  "decided_at_ms": {
                    "type": "integer",
                    "minimum": 0
                  }
                },
                "required": [
                  "screen_detected",
                  "confidence",
                  "decided_at_ms"
                ],
                "description": "Worst-case across sampled frames: one flagged frame flags the clip; `decided_at_ms` is the clip position of the deciding frame."
              },
              "analyzed_at": {
                "type": "string",
                "format": "date-time"
              }
            },
            "required": [
              "capture_id",
              "frames_extracted",
              "frames_analyzed",
              "analyzed_at"
            ],
            "description": "Screen-detection analysis of a video-step clip, sampled at one frame per second. Written asynchronously after capture — poll or use webhooks; absent until the worker has run."
          },
          "progress": {
            "type": "object",
            "properties": {
              "schema_version": {
                "type": "number",
                "enum": [
                  1
                ]
              },
              "step": {
                "type": "string",
                "enum": [
                  "landing",
                  "ready",
                  "capturing",
                  "reviewing",
                  "uploading",
                  "camera_blocked",
                  "success"
                ]
              },
              "step_index": {
                "type": "integer",
                "minimum": 0
              },
              "camera_permission": {
                "type": "string",
                "enum": [
                  "granted",
                  "denied",
                  "unavailable",
                  "unknown"
                ]
              },
              "elapsed_ms": {
                "type": "integer",
                "minimum": 0
              },
              "updated_at": {
                "type": "string",
                "format": "date-time"
              }
            },
            "required": [
              "schema_version",
              "step",
              "elapsed_ms",
              "updated_at"
            ],
            "description": "Latest funnel-progress snapshot reported via `POST /v1/verifications/:token/progress`. A snapshot, not an event log — each call overwrites the previous one. Operator-only; never present on the public projection."
          }
        },
        "required": [
          "id",
          "status",
          "capture_url",
          "created_at",
          "expires_at",
          "captures_count",
          "config"
        ],
        "description": "Canonical wire shape for a verification. `narrative` is present after finalize; an empty value marks submission through `POST /v1/verifications/{token}/complete`. `verdict` is present only after analysis completed."
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string"
              },
              "message": {
                "type": "string"
              },
              "fields": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "path": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "path",
                    "message"
                  ]
                }
              }
            },
            "required": [
              "code",
              "message"
            ]
          }
        },
        "required": [
          "error"
        ],
        "description": "Uniform error envelope. `code` is the stable string SDKs branch on (`invalid_request`, `unauthorized`, `not_found`, `expired`, `step_full`, `unknown_step`, `steps_incomplete`, `already_finalized`, `too_many_requests`, `storage_unavailable`, `internal_error`). `fields` is only present on `invalid_request` validation failures."
      },
      "CreateVerificationRequest": {
        "type": "object",
        "properties": {
          "max_captures": {
            "type": "integer",
            "minimum": 1,
            "maximum": 20
          },
          "steps": {
            "type": "array",
            "items": {
              "anyOf": [
                {
                  "type": "object",
                  "properties": {
                    "label": {
                      "type": "string",
                      "minLength": 1,
                      "maxLength": 200
                    },
                    "screen": {
                      "type": "object",
                      "properties": {
                        "key": {
                          "type": "string",
                          "minLength": 1,
                          "maxLength": 64,
                          "pattern": "^[a-z0-9][a-z0-9_-]*$"
                        },
                        "title": {
                          "type": "string",
                          "minLength": 1,
                          "maxLength": 120
                        },
                        "description": {
                          "type": "string",
                          "maxLength": 8000
                        }
                      },
                      "required": [
                        "key",
                        "title"
                      ],
                      "additionalProperties": false
                    },
                    "when": {
                      "type": "object",
                      "properties": {
                        "key": {
                          "type": "string",
                          "minLength": 1,
                          "maxLength": 64,
                          "pattern": "^[a-z0-9][a-z0-9_-]*$"
                        },
                        "value": {
                          "type": "string",
                          "minLength": 1,
                          "maxLength": 64,
                          "pattern": "^[a-z0-9][a-z0-9_-]*$"
                        }
                      },
                      "required": [
                        "key",
                        "value"
                      ],
                      "additionalProperties": false
                    },
                    "key": {
                      "type": "string",
                      "minLength": 1,
                      "maxLength": 64,
                      "pattern": "^[a-z0-9][a-z0-9_-]*$"
                    },
                    "type": {
                      "type": "string",
                      "enum": [
                        "image"
                      ],
                      "default": "image"
                    },
                    "description": {
                      "type": "string",
                      "maxLength": 500,
                      "default": ""
                    },
                    "min": {
                      "type": "integer",
                      "minimum": 0
                    },
                    "max": {
                      "type": "integer",
                      "minimum": 1
                    },
                    "allow_upload": {
                      "type": "boolean"
                    },
                    "accept": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "enum": [
                          "image/jpeg",
                          "image/png",
                          "image/webp",
                          "image/heic",
                          "image/heif"
                        ]
                      },
                      "minItems": 1
                    },
                    "max_size_bytes": {
                      "type": "integer",
                      "minimum": 1,
                      "maximum": 26214400
                    },
                    "expected_object": {
                      "type": "string",
                      "minLength": 1,
                      "maxLength": 200
                    },
                    "condition_aspects": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "minLength": 1,
                        "maxLength": 40
                      },
                      "minItems": 1,
                      "maxItems": 6
                    }
                  },
                  "required": [
                    "key",
                    "min",
                    "max"
                  ],
                  "additionalProperties": false
                },
                {
                  "type": "object",
                  "properties": {
                    "label": {
                      "type": "string",
                      "minLength": 1,
                      "maxLength": 200
                    },
                    "screen": {
                      "type": "object",
                      "properties": {
                        "key": {
                          "type": "string",
                          "minLength": 1,
                          "maxLength": 64,
                          "pattern": "^[a-z0-9][a-z0-9_-]*$"
                        },
                        "title": {
                          "type": "string",
                          "minLength": 1,
                          "maxLength": 120
                        },
                        "description": {
                          "type": "string",
                          "maxLength": 8000
                        }
                      },
                      "required": [
                        "key",
                        "title"
                      ],
                      "additionalProperties": false
                    },
                    "when": {
                      "type": "object",
                      "properties": {
                        "key": {
                          "type": "string",
                          "minLength": 1,
                          "maxLength": 64,
                          "pattern": "^[a-z0-9][a-z0-9_-]*$"
                        },
                        "value": {
                          "type": "string",
                          "minLength": 1,
                          "maxLength": 64,
                          "pattern": "^[a-z0-9][a-z0-9_-]*$"
                        }
                      },
                      "required": [
                        "key",
                        "value"
                      ],
                      "additionalProperties": false
                    },
                    "key": {
                      "type": "string",
                      "minLength": 1,
                      "maxLength": 64,
                      "pattern": "^[a-z0-9][a-z0-9_-]*$"
                    },
                    "type": {
                      "type": "string",
                      "enum": [
                        "text"
                      ]
                    },
                    "description": {
                      "type": "string",
                      "maxLength": 500,
                      "default": ""
                    },
                    "required": {
                      "type": "boolean",
                      "default": true
                    },
                    "validation": {
                      "type": "object",
                      "properties": {
                        "min_length": {
                          "type": "integer",
                          "minimum": 0,
                          "maximum": 2000
                        },
                        "max_length": {
                          "type": "integer",
                          "minimum": 1,
                          "maximum": 2000
                        },
                        "format": {
                          "type": "string",
                          "enum": [
                            "free_text",
                            "numeric_id",
                            "alphanumeric_id",
                            "email"
                          ],
                          "default": "free_text"
                        }
                      },
                      "default": {
                        "format": "free_text"
                      },
                      "additionalProperties": false
                    },
                    "variant": {
                      "type": "string",
                      "enum": [
                        "short",
                        "long"
                      ]
                    }
                  },
                  "required": [
                    "key",
                    "type"
                  ],
                  "additionalProperties": false
                },
                {
                  "type": "object",
                  "properties": {
                    "label": {
                      "type": "string",
                      "minLength": 1,
                      "maxLength": 200
                    },
                    "screen": {
                      "type": "object",
                      "properties": {
                        "key": {
                          "type": "string",
                          "minLength": 1,
                          "maxLength": 64,
                          "pattern": "^[a-z0-9][a-z0-9_-]*$"
                        },
                        "title": {
                          "type": "string",
                          "minLength": 1,
                          "maxLength": 120
                        },
                        "description": {
                          "type": "string",
                          "maxLength": 8000
                        }
                      },
                      "required": [
                        "key",
                        "title"
                      ],
                      "additionalProperties": false
                    },
                    "when": {
                      "type": "object",
                      "properties": {
                        "key": {
                          "type": "string",
                          "minLength": 1,
                          "maxLength": 64,
                          "pattern": "^[a-z0-9][a-z0-9_-]*$"
                        },
                        "value": {
                          "type": "string",
                          "minLength": 1,
                          "maxLength": 64,
                          "pattern": "^[a-z0-9][a-z0-9_-]*$"
                        }
                      },
                      "required": [
                        "key",
                        "value"
                      ],
                      "additionalProperties": false
                    },
                    "key": {
                      "type": "string",
                      "minLength": 1,
                      "maxLength": 64,
                      "pattern": "^[a-z0-9][a-z0-9_-]*$"
                    },
                    "type": {
                      "type": "string",
                      "enum": [
                        "upload"
                      ]
                    },
                    "input": {
                      "type": "string",
                      "enum": [
                        "signature"
                      ]
                    },
                    "description": {
                      "type": "string",
                      "maxLength": 500,
                      "default": ""
                    },
                    "min": {
                      "type": "integer",
                      "minimum": 0
                    },
                    "max": {
                      "type": "integer",
                      "minimum": 1
                    },
                    "accept": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "enum": [
                          "image/jpeg",
                          "image/png",
                          "image/webp",
                          "image/heic",
                          "image/heif"
                        ]
                      },
                      "minItems": 1,
                      "default": [
                        "image/jpeg",
                        "image/png",
                        "image/webp",
                        "image/heic",
                        "image/heif"
                      ]
                    },
                    "max_size_bytes": {
                      "type": "integer",
                      "minimum": 1,
                      "maximum": 26214400,
                      "default": 10485760
                    }
                  },
                  "required": [
                    "key",
                    "type",
                    "min",
                    "max"
                  ],
                  "additionalProperties": false
                },
                {
                  "type": "object",
                  "properties": {
                    "label": {
                      "type": "string",
                      "minLength": 1,
                      "maxLength": 200
                    },
                    "screen": {
                      "type": "object",
                      "properties": {
                        "key": {
                          "type": "string",
                          "minLength": 1,
                          "maxLength": 64,
                          "pattern": "^[a-z0-9][a-z0-9_-]*$"
                        },
                        "title": {
                          "type": "string",
                          "minLength": 1,
                          "maxLength": 120
                        },
                        "description": {
                          "type": "string",
                          "maxLength": 8000
                        }
                      },
                      "required": [
                        "key",
                        "title"
                      ],
                      "additionalProperties": false
                    },
                    "when": {
                      "type": "object",
                      "properties": {
                        "key": {
                          "type": "string",
                          "minLength": 1,
                          "maxLength": 64,
                          "pattern": "^[a-z0-9][a-z0-9_-]*$"
                        },
                        "value": {
                          "type": "string",
                          "minLength": 1,
                          "maxLength": 64,
                          "pattern": "^[a-z0-9][a-z0-9_-]*$"
                        }
                      },
                      "required": [
                        "key",
                        "value"
                      ],
                      "additionalProperties": false
                    },
                    "key": {
                      "type": "string",
                      "minLength": 1,
                      "maxLength": 64,
                      "pattern": "^[a-z0-9][a-z0-9_-]*$"
                    },
                    "type": {
                      "type": "string",
                      "enum": [
                        "video"
                      ]
                    },
                    "description": {
                      "type": "string",
                      "maxLength": 500,
                      "default": ""
                    },
                    "min": {
                      "type": "integer",
                      "minimum": 0
                    },
                    "max": {
                      "type": "integer",
                      "minimum": 1
                    },
                    "max_duration_sec": {
                      "type": "integer",
                      "minimum": 1,
                      "maximum": 30,
                      "default": 30
                    }
                  },
                  "required": [
                    "key",
                    "type",
                    "min",
                    "max"
                  ],
                  "additionalProperties": false
                },
                {
                  "type": "object",
                  "properties": {
                    "label": {
                      "type": "string",
                      "minLength": 1,
                      "maxLength": 200
                    },
                    "screen": {
                      "type": "object",
                      "properties": {
                        "key": {
                          "type": "string",
                          "minLength": 1,
                          "maxLength": 64,
                          "pattern": "^[a-z0-9][a-z0-9_-]*$"
                        },
                        "title": {
                          "type": "string",
                          "minLength": 1,
                          "maxLength": 120
                        },
                        "description": {
                          "type": "string",
                          "maxLength": 8000
                        }
                      },
                      "required": [
                        "key",
                        "title"
                      ],
                      "additionalProperties": false
                    },
                    "when": {
                      "type": "object",
                      "properties": {
                        "key": {
                          "type": "string",
                          "minLength": 1,
                          "maxLength": 64,
                          "pattern": "^[a-z0-9][a-z0-9_-]*$"
                        },
                        "value": {
                          "type": "string",
                          "minLength": 1,
                          "maxLength": 64,
                          "pattern": "^[a-z0-9][a-z0-9_-]*$"
                        }
                      },
                      "required": [
                        "key",
                        "value"
                      ],
                      "additionalProperties": false
                    },
                    "key": {
                      "type": "string",
                      "minLength": 1,
                      "maxLength": 64,
                      "pattern": "^[a-z0-9][a-z0-9_-]*$"
                    },
                    "type": {
                      "type": "string",
                      "enum": [
                        "choice"
                      ]
                    },
                    "description": {
                      "type": "string",
                      "maxLength": 500,
                      "default": ""
                    },
                    "required": {
                      "type": "boolean",
                      "default": true
                    },
                    "multiple": {
                      "type": "boolean",
                      "default": false
                    },
                    "options": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "key": {
                            "type": "string",
                            "minLength": 1,
                            "maxLength": 64,
                            "pattern": "^[a-z0-9][a-z0-9_-]*$"
                          },
                          "label": {
                            "type": "string",
                            "minLength": 1,
                            "maxLength": 500
                          }
                        },
                        "required": [
                          "key",
                          "label"
                        ],
                        "additionalProperties": false
                      },
                      "minItems": 1,
                      "maxItems": 50
                    }
                  },
                  "required": [
                    "key",
                    "type",
                    "options"
                  ],
                  "additionalProperties": false
                },
                {
                  "type": "object",
                  "properties": {
                    "label": {
                      "type": "string",
                      "minLength": 1,
                      "maxLength": 200
                    },
                    "screen": {
                      "type": "object",
                      "properties": {
                        "key": {
                          "type": "string",
                          "minLength": 1,
                          "maxLength": 64,
                          "pattern": "^[a-z0-9][a-z0-9_-]*$"
                        },
                        "title": {
                          "type": "string",
                          "minLength": 1,
                          "maxLength": 120
                        },
                        "description": {
                          "type": "string",
                          "maxLength": 8000
                        }
                      },
                      "required": [
                        "key",
                        "title"
                      ],
                      "additionalProperties": false
                    },
                    "when": {
                      "type": "object",
                      "properties": {
                        "key": {
                          "type": "string",
                          "minLength": 1,
                          "maxLength": 64,
                          "pattern": "^[a-z0-9][a-z0-9_-]*$"
                        },
                        "value": {
                          "type": "string",
                          "minLength": 1,
                          "maxLength": 64,
                          "pattern": "^[a-z0-9][a-z0-9_-]*$"
                        }
                      },
                      "required": [
                        "key",
                        "value"
                      ],
                      "additionalProperties": false
                    },
                    "key": {
                      "type": "string",
                      "minLength": 1,
                      "maxLength": 64,
                      "pattern": "^[a-z0-9][a-z0-9_-]*$"
                    },
                    "type": {
                      "type": "string",
                      "enum": [
                        "address"
                      ]
                    },
                    "country": {
                      "type": "string",
                      "enum": [
                        "BR"
                      ]
                    },
                    "description": {
                      "type": "string",
                      "maxLength": 500,
                      "default": ""
                    },
                    "required": {
                      "type": "boolean",
                      "default": true
                    }
                  },
                  "required": [
                    "key",
                    "type"
                  ],
                  "additionalProperties": false
                }
              ]
            },
            "minItems": 1
          },
          "expires_in_seconds": {
            "type": "integer",
            "minimum": 60,
            "maximum": 86400,
            "default": 3600
          },
          "signals_required": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "screen",
                "ai",
                "reverse",
                "context",
                "depth"
              ]
            },
            "minItems": 1,
            "default": [
              "screen",
              "ai"
            ]
          },
          "seal": {
            "type": "boolean",
            "default": true
          },
          "mode": {
            "type": "string",
            "enum": [
              "verification",
              "audit"
            ]
          },
          "context": {
            "type": "object",
            "properties": {
              "kind": {
                "type": "string",
                "minLength": 1,
                "maxLength": 64
              },
              "summary": {
                "type": "string",
                "minLength": 1,
                "maxLength": 500
              },
              "attributes": {
                "type": "object",
                "additionalProperties": {
                  "anyOf": [
                    {
                      "type": "string"
                    },
                    {
                      "type": "number"
                    },
                    {
                      "type": "boolean"
                    }
                  ]
                }
              }
            },
            "required": [
              "kind",
              "summary"
            ]
          },
          "webhook_url": {
            "type": "string",
            "format": "uri"
          },
          "notify_email": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 254,
            "format": "email"
          },
          "notify_subject_template": {
            "type": [
              "string",
              "null"
            ],
            "minLength": 1
          },
          "notify_body_template": {
            "type": [
              "string",
              "null"
            ],
            "minLength": 1
          },
          "completion_message": {
            "type": [
              "string",
              "null"
            ],
            "minLength": 1,
            "maxLength": 2000,
            "description": "Full plain-text message shown after submitting content. HTML, markdown and variables are not interpreted. Omit on create or send null on PATCH to use the default."
          },
          "metadata": {
            "type": "object",
            "additionalProperties": {
              "type": "string",
              "maxLength": 500
            }
          },
          "requires_location": {
            "type": "boolean"
          },
          "expected_location": {
            "type": "string",
            "minLength": 1,
            "maxLength": 300
          },
          "expected_object": {
            "type": "string",
            "minLength": 1,
            "maxLength": 200
          },
          "condition_aspects": {
            "type": "array",
            "items": {
              "type": "string",
              "minLength": 1,
              "maxLength": 40
            },
            "minItems": 1,
            "maxItems": 6
          },
          "expected_info": {
            "type": "object",
            "properties": {
              "source": {
                "type": "string",
                "enum": [
                  "individual",
                  "csv"
                ],
                "default": "individual"
              },
              "shared": {
                "type": "object",
                "properties": {
                  "expected_location": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 300
                  },
                  "expected_object": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 200
                  },
                  "condition_aspects": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "minLength": 1,
                      "maxLength": 40
                    },
                    "minItems": 1,
                    "maxItems": 6
                  },
                  "ocr_type": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 40
                  }
                },
                "additionalProperties": false
              },
              "subject": {
                "type": "object",
                "properties": {
                  "expected_location": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 300
                  },
                  "expected_object": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 200
                  },
                  "condition_aspects": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "minLength": 1,
                      "maxLength": 40
                    },
                    "minItems": 1,
                    "maxItems": 6
                  },
                  "ocr_type": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 40
                  },
                  "asset_ref": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 120
                  },
                  "person": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string",
                        "minLength": 1,
                        "maxLength": 120
                      },
                      "email": {
                        "type": "string",
                        "maxLength": 254,
                        "format": "email"
                      },
                      "phone_e164": {
                        "type": "string",
                        "pattern": "^\\+[1-9]\\d{6,14}$"
                      },
                      "external_ref": {
                        "type": "string",
                        "minLength": 1,
                        "maxLength": 120
                      }
                    },
                    "additionalProperties": false
                  }
                },
                "additionalProperties": false
              }
            },
            "additionalProperties": false
          },
          "brand_slug": {
            "type": "string",
            "minLength": 2,
            "maxLength": 40,
            "pattern": "^[a-z0-9]+(?:-[a-z0-9]+)*$"
          }
        },
        "additionalProperties": false,
        "description": "Body for `POST /v1/verifications`. All fields optional — sensible defaults: `max_captures: 1`, `expires_in_seconds: 3600`, `signals_required: [\"screen\", \"ai\"]`. Capture quantity comes as EITHER `max_captures` (N anonymous captures) OR `steps` (guided slots with key/description/min/max) — never both. `context` is what the analysis pipeline cross-references against the capture; `metadata` is opaque pass-through echoed back on every webhook event."
      },
      "FinalizeVerificationRequest": {
        "type": "object",
        "properties": {
          "narrative": {
            "type": "string",
            "minLength": 1,
            "maxLength": 2000
          }
        },
        "description": "Body for `POST /v1/verifications/:id/finalize`. `narrative` is the claimant's written description of what the captures show."
      },
      "RequestUploadUrlRequest": {
        "type": "object",
        "properties": {
          "content_type": {
            "type": "string"
          },
          "kind": {
            "type": "string",
            "enum": [
              "image",
              "forensic_buffer"
            ],
            "default": "image"
          }
        },
        "required": [
          "content_type"
        ],
        "additionalProperties": false,
        "description": "Body for `POST /v1/verifications/:token/captures/upload-url`. The returned presigned PUT URL is single-use, 5-minute TTL, locked to the specified `contentType` — a stolen URL cannot be repurposed for a different mime."
      },
      "PublicVerification": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "pending",
              "partially_captured",
              "completed",
              "expired",
              "failed",
              "abandoned"
            ]
          },
          "tenant_name": {
            "type": "string"
          },
          "context_kind": {
            "type": "string"
          },
          "context_summary": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "captures_count": {
            "type": "integer"
          },
          "captures": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "surface": {
                  "type": "string"
                },
                "content_origin": {
                  "type": "string",
                  "enum": [
                    "live",
                    "uploaded"
                  ]
                },
                "captured_at": {
                  "type": "string",
                  "format": "date-time"
                },
                "image_url": {
                  "type": "string"
                }
              },
              "required": [
                "id",
                "surface",
                "captured_at"
              ]
            }
          },
          "verdict": {
            "type": "object",
            "properties": {
              "label": {
                "type": "string",
                "enum": [
                  "verified",
                  "suspicious",
                  "failed"
                ]
              }
            },
            "required": [
              "label"
            ]
          }
        },
        "required": [
          "id",
          "status",
          "tenant_name",
          "created_at",
          "captures_count",
          "captures"
        ]
      },
      "LinkTemplate": {
        "type": "object",
        "properties": {
          "slug": {
            "type": "string"
          },
          "org_slug": {
            "type": "string"
          },
          "public_url": {
            "type": "string",
            "format": "uri"
          },
          "name": {
            "type": "string"
          },
          "mode": {
            "type": "string",
            "enum": [
              "capture",
              "audit",
              "hybrid"
            ]
          },
          "steps": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "key": {
                  "type": "string"
                },
                "type": {
                  "type": "string",
                  "enum": [
                    "image",
                    "upload",
                    "text",
                    "video",
                    "choice",
                    "address"
                  ]
                }
              },
              "required": [
                "key",
                "type"
              ],
              "description": "One normalized capture-spec step (see `stepsInputSchema`)."
            }
          },
          "expires_in_seconds": {
            "type": "integer"
          },
          "metadata": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          },
          "expected_info": {
            "type": "object",
            "properties": {}
          },
          "expected_location": {
            "type": "object",
            "properties": {}
          },
          "expected_object": {
            "type": "object",
            "properties": {}
          },
          "condition_aspects": {
[...]
